<%= javascript_include_tag 'content_image_piece/application.js' %>
<h1>Edit: <%= @content_image.name %></h1>
<% if !error_messages_for("content_image").blank? %>
<div id="error">
<%= error_messages_for "content_image" %>
</div>
<% end %>
<% form_for([:admin, @content_image], :html => { :multipart => true }) do |f| %>
  <table border='0' cellpadding='0' cellspacing='0' class='fieldset'>
      <tr>
        <th class="label"><%= label @content_image, :name %></th>
        <td class="field"><%= f.text_field :name, :class => 'textbox' %></td>
        <td class="help">Required and must be unique</td>
      </tr>
      
      <tr>
        <th class="label"><%= label @slug, :slug %></th>
        <td class="field"><%= f.text_field "slug", :class => 'textbox', :maxlength => 255, :size=>30 %></td>
        <td class="help">Required and must be unique</td>
      </tr>
      
      <tr>
        <th class="label"><%= label @alt, :alt %></th>
        <td class="field"><%= f.text_field "alt", :class => 'textbox', :maxlength => 255, :size=>30 %></td>
        <td class="help">Optional</td>
      </tr>
      
      <tr>
        <th class="label"><%= label @content_image, :content_image %></th>
        <td class="field"><%= f.file_field :content_image, :class => 'textbox' %></td>
        <td class="help">Required</td>
      </tr>
      
      <tr>
        <th class="label">Small:</th>
        <td colspan="2"><%= image_tag @content_image.content_image.url(:small) %></td>
      </tr>

  </table>
  <p class="buttons">
    <%= f.submit 'Save Changes', :class=>'button' %>
    <%= link_to "Cancel", {:action => :index} %>
  </p>
<% end %>

