<%= javascript_include_tag 'content_image_piece/application.js' %>
<h1>New Content Image</h1>

<div id="error">
<%= error_messages_for "content_image" %>
</div>

<% form_for([:admin, @content_image], :html => { :multipart => true }) do |f| %>
  <div class="form-area">
    <div  id="link_form_area">
      <p class="">
        <%= label @content_image, :name %>
        <%= f.text_field :name %>
      </p>
            
      <p class="">
        <%= label @slug, :slug %>
        <%= f.text_field "slug", :class => 'textbox', :maxlength => 255, :size=>30 %>
      </p>

      <p class="">
        <%= label @content_image, :content_image %>
        <%= f.file_field :content_image %>
      </p>

      <p class="">
        <label for="content_image_alt">Alt</label>
        <%= f.text_field "alt", :class => 'textbox', :maxlength => 255, :size=>30 %>
      </p>

       <span class="clear">&nbsp;</span>
    </div>
  </div>

  <p class="buttons">
    <%= f.submit %>
    <%= link_to "Cancel", {:action => :index} %>
  </p>
<% end %>
