<h1><%= @content_image.name %></h1>

  <table border='0' cellpadding='0' cellspacing='0' class='fieldset'>
        
        <tr>
          <th class="label"><label for="content_image_name"><strong>Name</strong></label></th>
          <td><%= @content_image.name %></td>
        </tr>
        <tr>
          <th class="label"><label for="content_image_slug"><strong>Slug</strong></label></th>
          <td><%= @content_image.slug %></td>
        </tr>

        <% if @content_image.alt? %>
          <tr>
          <th class="label"><label for="content_image_alt"><strong>Alt</strong></label></th>
          <td><%= @content_image.alt %></td>
          </tr>
        <% end %>
        
        <tr>
          <th class="label"><label><strong>Thumbnail</strong></label></th>
          <td><%= image_tag @content_image.content_image.url(:thumbnail) %></td>
        </tr>
        
        <tr>
          <th class="label"><label><strong>Small</strong></label> </th>
          <td><%= image_tag @content_image.content_image.url(:small) %></td>
        </tr>
        
        <tr>
          <th class="label"><label><strong>Large</strong></label></th>
          <td><%= image_tag @content_image.content_image.url(:large) %></td>
        </tr>
    </table>
    
    <p class="buttons">
      <%= link_to 'Edit Image', edit_admin_content_image_path(@content_image) %> | 
      <%= link_to "List of Images", {:action => :index} %>
    </p>
